
{{#link-to 'coffeeshop' coffeeshop}}
<div class="container card">
  <div class="card-header">
    <h2>{{coffeeshop.name}}</h2>
  </div>
  <div class="container card-body">
    <p class="lead">{{coffeeshop.body}}</p>
  </div>
</div>
{{/link-to}}
