// Colors
$black: #000;
$white: #fff;
$base: #191919;




// Typography

$small: 12px;
$medium: 16px;
$large: 24px;
$huge: 36px;
$absurd: 48px;

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// General
.content-wrapper {
  margin: auto;
  margin-top: 15%;
  text-align: center;
}

#intro-blurb {
  margin-top: 15%;
  margin-left: 15%;
  blockquote p {
    font-size: $huge;
  }
}

// Masonry
.item {
  min-width: 220px;
  min-height: 300px;
  margin: 10px;
  float: left;
}

// Utility
.extra-padding-top {
  padding: 10px;
}

.slight-padding-top {
  padding: 5px;
}

// Forms
form {
  margin: auto;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}

label {
  margin-top: 10px;
}
// .form-control {
//   width: 50%;
// }

// Navbar
.navbar-default {
  background-color: $white;
  border-color: $white;

  li {
    a {
      font-size: $large;
    }
  }
}
/* title */
.navbar-brand img {
  height: 150px;
  width: 150px;
}
