// Colors
$black: #000;
$white: #fff;
$base: #2E2E2E;

// Typography
$small: 12px;
$medium: 16px;
$large: 24px;
$huge: 36px;
$absurd: 48px;

.coffeeshop-name {
  font-size: 8rem;
}

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// General
.content-wrapper {
  margin: auto;
  margin-top: 15%;
  text-align: center;
}

#intro-blurb {
  margin-top: 15%;
  margin-left: 15%;
  blockquote p {
    font-size: $large; // do something with this at a later time
  }
}

// Masonry
.item {
  width:  50px;
  height: 50px;
  float: left;
}

.fa-coffee:hover {
  cursor: pointer;
  color: darken(gold, 5%);
}

#front-hipster:hover {
  cursor: pointer;
  opacity: .8;
  transform: scale(1.1);
}

// Utility
.extra-padding-top {
  padding: 10px;
}

.slight-padding-top {
  padding: 5px;
}

.transparent {
  opacity: .7;
}

.hidden {
  display:none;
}

// Forms
form {
  margin: auto;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}

label {
  margin-top: 10px;
}

// Navbar
.navbar-default {
  background-color: $white;
  border-color: $white;
  height: 95px;

  li {
    a {
      font-size: $large;
    }
  }
}
/* title */
.navbar-brand img {
  height: 150px;
  width: 150px;
}

// All
.content-container {
  margin-top: 20%;
}

.coffeeshop-wrapper {
  margin-top: 3%;
  padding: 5%;
  div {
    margin-top: 2%;
  }
}

.mug {
  font-size: 2rem;
  font-weight: 300;
  .fa-coffee {
    color: darken(gold, 5%);
    &:hover {
      cursor: default;
    }
  }
}


.user-icon {
  font-size: 3rem;
}







//
