<div id="intro-blurb">
  <blockquote>
  <p>this elegant place you can add and rate this words are really easy to understand ha</p>
  </blockquote>
</div>

<div id="container" class="container" style="border: 1px solid black;">
    <img id="front-hipster" class="item" style="margin-top: 5%;" src="img/front-hipster.jpg" alt="hipsters" />
    <img id="front-laptop" class="item" src="img/front-laptop.jpg" alt="hipsters" />
    <img id="front-coffee-quality" class="item" src="img/front-coffee-quality.jpg" alt="hipsters" />
    <img id="front-study" class="item" src="img/front-study.jpg" alt="hipsters" />


</div>


{{#each model as |shop|}}
  {{index-option-tile}}
{{/each}}
