<div id="intro-blurb">
  <blockquote>
  <p>this elegant place you can add and rate this words are really easy to understand ha</p>
  </blockquote>
</div>

<!-- <div id="masonry" class="container">
  <img id="front-hipster" class="item" src="img/front-hipster.jpg" alt="hipsters" />
  <img id="front-laptop" class="item" src="img/front-laptop.jpg" alt="hipsters" />
  <img id="front-coffee-quality" class="item" src="img/front-coffee-quality.jpg" alt="hipsters" />
  <img id="front-study" class="item" src="img/front-study.jpg" alt="hipsters" />
  <img id="front-all" class="item" src="img/all.jpeg" alt="hipsters" />
</div> -->

<div id="masonry" class="container">
  <img id="front-hipster" class="grid-item" src="img/front-hipster.jpg" alt="hipsters" />
  <img id="front-laptop" class="grid-item " src="img/front-laptop.jpg" alt="hipsters" />
  <img id="front-coffee-quality" class="item" src="img/front-coffee-quality.jpg" alt="hipsters" />
  <img id="front-study" class="grid-item" src="img/front-study.jpg" alt="hipsters" />
  <img id="front-all" class="grid-item grid-item--width2 grid-item--height2" src="img/all.jpeg" alt="hipsters" />
</div>


{{#link-to 'all'}}All{{/link-to}}
